.footer {
    margin: 0;
    padding: 0;
    background-color: #2d394b;
    display: flex;
    color: rgb(200, 178, 178);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info > .icon {
    margin-right: 0.7rem;
}
