.main {
    position: relative;
    height: 100%;
    background-color: rgb(252, 252, 252);
}

.main-content {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    padding: 0;
    margin: 0;
}

section>h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    color: #da0e0e;
    line-height: 3.5rem;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px 2px rgb(35, 8, 8), 0 0 3rem rgb(255, 255, 255), 0 .3rem .2em rgb(255, 255, 255);
}

article>ul>li>p {
    font-size: 1.3rem;
    color: #ece7e7;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

li {
    margin-bottom: 1.5rem;
}

.is-blue {
    color: rgb(7, 20, 93);
}

.icon-styled {
    font-size: 6rem;
    font-weight: bold;
}

.icon-styled>i {
    background: linear-gradient(to top, #a09b99 0%, #999795 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-styled>svg {
    margin: 0;
    color: #151313;
    stroke-width: 1;
    text-align: center;
}

.contact-us-button {
    margin-top: 1.5rem;
    border-radius: 3px;
    border-width: .17rem;
    padding: 8px 20px;
    background-image: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 1.4rem;
    transition: all 0.5s ease;
}

.contact-us-button:hover {
    background: #decfca72;
}