.slider-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
  .slider-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
 
  
  .slick-slide > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .slider-cover{
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.854) 50%, rgba(0, 0, 0, 0.648) 50%);
    background-size: 2px 2px;
  }

  